body{
  background-color: #cd5c5c;
}
.flex-main{
  display:flex;
  flex-direction:row;
}
.profile-card{
  width:25%;
  background-color:#ddd;
  padding:2%;
  margin:2%;
}
.content-card{
  width:75%;
  background-color:#ddd;
  padding:2%;
  margin:2%;
}
.profile-image{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width:50%;
  height:auto;
}
h2,h3{
  text-align:center;
}
@media only screen and (min-width:320px) and (max-width:468px){
  .flex-main{
  display:flex;
  flex-direction:column;
}
.profile-card{
  width:100%;
  background-color:#ddd;
  padding:3%;
  margin:2%;
}
.content-card{
  width:100%;
  background-color:#ddd;
  padding:3%;
  margin:2%;
}
}
@media only screen and (min-width:469px) and (max-width:768px){
  .flex-main{
  display:flex;
  flex-direction:row;
}
.profile-card{
  width:50%;
  background-color:#e46124;
  padding:3%;
  margin:2%;
}
.content-card{
  width:50%;
  background-color:#e46124;
  padding:3%;
  margin:2%;
}
}
@media only screen and (min-width:769px) and (max-width:1024px){
  .flex-main{
  display:flex;
  flex-direction:row;
}
.profile-card{
  width:100%;
  background-color:#ddd;
  padding:3%;
  margin:2%;
}
.content-card{
  width:100%;
  background-color:#ddd;
  padding:3%;
  margin:2%;
}
}
